<!DOCTYPE html>
<html>
  <head>
    <title>API · gumroad ✧ niklas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('g-n.png') %>
  </head>
  <body>
    <main class="mx-auto flex items-center justify-center min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
